@media (min-width:2000px){
  .about-title .bg h1{
    font-size: 480px;
  }
}



@media (max-height:850px){
  .menu-responsive .menu-wrap .item-2 .top-menu ul li a {
    font-size: 70px;
  }
  .ticket-title .content-width figure {
    width: 345px;
  }
}

@media (max-height:750px){
  .menu-responsive .menu-wrap .item-2 .top-menu ul li a {
    font-size: 50px;
  }
  .ticket-title .content-width figure {
    width: 300px;
  }
}
@media (max-width:1900px){
  .about-title .bg h1{
    font-size: 420px;
  }
  .other-pages .item{
    width: 30%;
    img{
      max-width: 100%;
    }
  }
  .other-pages .content-width .item{
    width: 33%;
  }
}

@media (max-width:1700px) {
  .content-width{
    width: 1400px;
  }

  .footer .right {
    width: calc(100% - 700px);
  }
  .wordpress figure{
    max-width: 500px;
  }
  .reviews blockquote p {
    font-size: 35px;
    line-height: 1.2;
  }
  .form-section h4, .form-section h3 {
    font-size: 35px;
    line-height: 1.2;
  }
  .popup-work{
    width: 1350px;
  }
  .about-title .bg h1{
    font-size: 350px;
  }
  .about-title .bg h6{
    font-size: 100px;
  }
  .big-text h6 {
    font-size: 60px;
    line-height: 70px;
  }
  .contact figure{
    width: 550px;
  }
  .typography-colors .text-img-wrap .text-italianno h6{
    font-size: 160px;
    line-height: 0.4;
  }
  .typography-colors .text-img-wrap .text-cormorant h6{
    font-size: 80px;
    line-height: 0.7;
  }
  .typography-colors .text-img-wrap .text-inter h6{
    font-size: 40px;
    line-height: 0.8;
  }
  .typography-colors .text-img-wrap .text-inter{
    margin-left: 30px;
  }
  .typography-colors .text-img-wrap .text-cormorant{
    margin-left: 50px;
  }
  .typography-colors .text-img-wrap .item-color-1 .color{
    width: 300px;
  }
  .anim-section .inner-wrap .subheader{
    font-size: 16px;
  }
  .about h2{
    font-size: 52px;
    a{
      font-size: 52px;
    }
  }
  .about .content .item figure .text h5{
    font-size: 26px;
    line-height: 1.3;
  }
  .about .content .item .text-wrap ul li a{
    font-size: 14px;
    line-height: 20px;
  }
  .btn-default{
    font-size: 14px;
    line-height: 44px;
    height: 44px;
  }
  .pre-footer ul li a {
    border: 2px solid #FFFFFF;
    border-radius: 30px;
    font-size: 38px;
    line-height: 50px;
    padding: 0 15px;
    height: 54px;
  }
  .footer .right .footer-menu ul li a{
    font-size: 20px;
    line-height: 1.2;
  }
  .footer .bottom ul li a, .footer .bottom ul li p, .footer .bottom p, .footer .bottom ul li{
    font-size: 14px;
    line-height: 1.2;
  }
  .web-design .right h3, .project-slider .swiper-slide .text h4, .summary .title h5, .summary ul li h6{
    font-size: 27px;
    line-height: 1.3;
  }
  .web-design .right p{
    font-size: 14px;
  }
  .accordion-thumb p, .accordion li:before{
    font-size: 16px;
    line-height: 20px;
  }
  body{
    font-size: 14px;
  }
  .reviews blockquote:before{
    width: 32px;
    height: 40px;
  }
  .reviews .name{
    font-size: 16px;
    line-height: 20px;
  }
  .top-slider h1, .top-slider h2, h1, .faq h2, h2, .section h2{
    font-size: 70px;
    line-height: 1.1;
  }
  .form-up-label .input-wrap input{
    font-size: 16px;
    line-height: 52px;
  }
  .form-up-label .input-wrap label{
    font-size: 16px;
  }
  .form-up-label .input-wrap label.is-focus, .form-up-label .input-wrap label.is-active, .form-up-label .input-wrap label.is-date{
    font-size: 12px;
  }
  .form-up-label .input-wrap{
    margin-bottom: 20px;
  }
  .form-up-label .input-wrap-text textarea{
    height: 140px;
  }
  .contact p, .contact p a, .contact ul li a{
    font-size: 16px;
    line-height: 20px;
  }
  .article-head .content-width h1 {
    font-size: 88px;
    line-height: 1.2;
  }
  .article-content h2 {
    font-size: 52px;
    line-height: 1.2;
    margin-bottom: 80px;
  }
  .article-content p {
    font-size: 35px;
    line-height: 1.2;
    margin-bottom: 40px;
  }
  .blog-more .tag-wrap a{
    font-size: 14px;
    line-height: 22px;
  }
  .pre-footer ul li {
    margin: 0 10px 15px;
  }
  .form-section .wrap-link a .img-wrap{
    height: 190px;
  }
  .form-section .wrap-link a{
    height: inherit;
    padding-bottom: 20px;
  }
  .form-section .wrap-link a .text-wrap{
    margin-top: 18px;
  }
}

@media (max-width:1440px) {
  .content-width{
    width: 1200px;
  }
  .ticket-title h3{
    font-size: 50px;
    line-height: 1.2;
  }
  .about .content .item figure{
    height: 350px;
  }

  .top-slider .swiper-slide p{
    line-height: 30px;
  }
  .about h2 {
    font-size: 60px;
    line-height: 1.1;
    margin-bottom: 150px;
    a{
      font-size: 60px;
      line-height: 1.1;
    }
  }

  .about h3 {
    font-size: 50px;
    line-height: 1.1;
    margin-bottom: 120px;
    a{
      font-size: 50px;
      line-height: 1.1;
    }
  }
  .pre-footer h2{
    font-size: 60px;
    line-height: 1.2;
  }

  .pre-footer ul li img{
    height: 60px;
    width: auto;
  }
  .footer .left h3 {
    font-size: 36px;
    line-height: 1.2;
  }
  .footer .left {
    width: 400px;
  }
  .footer .right {
    width: calc(100% - 500px);
  }
  .footer .bottom ul{
    margin-right: 50px;
  }
  .top-line .logo-wrap{
    width: 200px;
    img{
      width: 100%;
    }
  }
  header .content-width-full .right{
    top: 10px;
  }

  .ticket-title{
    padding-top: 120px;
  }
  .traveling-two .text-wrap{
    max-width: 100%;
  }
  .team .right {
    width: calc(100% - 470px);
  }
  .team .right .item figure {
    height: 353px;
  }
  .work-wrap ul{
    width: 100%;
  }
  .work-wrap .img-wrap-desk{
    left: -35%;
  }


  .form-up-label .input-wrap label{
    top: 15px;
  }
  .form-up-label .input-wrap{
    margin-bottom: 30px;
  }
  .form-up-label .input-wrap-text label {
    top: calc(100% - 43px);
  }
  .contact .content{
    min-height: inherit;
  }

  .article-content {
    padding: 200px 0 90px;
  }


  .article-content figure {
    height: 800px;
    margin: 180px 0 180px;
  }
  .info-case ul li {
    margin-right: 110px;
  }
  .case-head .sub-title {
    font-size: 30px;
    line-height: 38px;
  }
  .tabs-menu li{
    line-height: 46px;
    font-size: 14px;
    padding: 0 30px;
  }
  .strategy .item figure{
    height: 600px;
  }
  .strategy .item .logo-wrap img{
    max-width: 270px;
  }
  .strategy .item .logo-wrap p{
    font-size: 20px;
  }

  .business-card .logo-wrap figure{
    left: -91%;
  }
  .objective figure .line img {
    margin-right: 15px;
  }
  .solution .img-wrap{
    padding: 0;
  }
  .solution .content {
    width: 42%;
  }
  .solution-2 .img-wrap {
    padding: 100px 60px 100px 60px;
  }
  .logics{
    padding: 200px 0;
  }
  .logics .bg .img-bg-2{
    top: 12%;
  }
  .other-pages .item{
    width: 30%;
    height: 340px;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .next-case .content{
    height: 800px;
  }
  .passion figure .video-wrap{
    height: 600px;
  }
  .about h2{
    font-size: 52px;
    a{
      font-size: 52px;
    }
  }

}

@media (max-width:1440px) and (min-width: 1400px){
  .about-title .bg h1 {
    font-size: 350px;
  }
}

@media (max-width:1400px){
  .popup-work{
    width: 1200px;
  }
  .contact figure {
    width: 470px;
  }
  .contact h2{
    margin-bottom: 50px;
  }
  .contact ul{
    margin-top: 50px;
  }
}
@media (max-width:1280px) {
  .content-width{
    width: 960px;
  }
  .menu-responsive .menu-wrap .item-1{
    padding-right: 20px;
  }
  .menu-responsive .menu-wrap .item-2{
    padding: 0 20px;
  }
  .menu-responsive .menu-wrap .item-3{
    padding-left: 20px;
  }
  .menu-responsive .menu-wrap .item-2 .top-menu ul li a {
    font-size: 44px;
  }

  .footer .right .footer-menu{
    width: 100%;
  }
   .fix .btn-default{
    display: none;
  }
  .footer .bottom ul{
    margin: 0 0 10px;
  }
  .footer .bottom p{
    width: 100%;
  }
  .web-design .right{
    padding-left: 40%;
  }
  .accordion{
    padding-left: 30px;
  }
  .summary ul{
    margin-left: 0;
    width: 100%;
    padding-left: 30px;
  }
  .section h2 {
    font-size: 50px;
  }
  .wordpress figure {
    max-width: 450px;
  }
  .reviews .content{
    padding: 0;
  }
  .popup-work{
    width: 97%;
  }
  .popup-work .right .video-wrap{
    display: none;
  }
  .ticket-title .content-width figure{
    width: 300px;
    margin-right: 0;
  }
  .ticket-title .content-width .left {
    width: calc(100% - 350px);
  }
  .traveling .text{
    padding: 0;
  }
  .work-wrap .content-width{
    padding-left: 0;
  }
  .work-wrap .img-wrap-desk{
    display: none;
  }
  .popup-team .left h6 {
    font-size: 36px;
    line-height: 1.2;
  }
  .team .right .item h6{
    font-size: 30px;
    line-height: 1.2;
  }
  .popup-team .left{
    padding: 50px;
  }
  .popup-team .left p{
    font-size: 16px;
    line-height: 1.2;
  }
  .work-wrap ul{
    padding-left: 40px;
  }
  .work-wrap ul li:nth-child(4), .work-wrap ul li:nth-child(3){
    top: 0!important;
    animation: none;
  }
  .work .img-wrap-mob{
    display: block;
    overflow: hidden;
    padding-top: 120px;
    .line{
      display: flex;
      justify-content: flex-end;
      width: fit-content;
      min-width: 100%;
      img{
        width: 165px;
        min-width: 165px;
        margin-left: 40px;
      }
      img:first-child{
        margin: 0;
      }
    }
  }
  .about-title .bg {
    padding: 150px 20px 50px;
  }
  .about-title .bg h1 {
    font-size: 200px;
  }
  .about-title .bg h6 {
    font-size: 70px;
  }
  .blog{
    padding-top: 200px;
  }
  .article-head .content-width h1 {
    font-size: 80px;
    line-height: 1.2;
  }
  .article-content {
    padding: 150px 0 90px;
  }
  .article-content h2 {
    font-size: 55px;
    line-height: 1.2;
    margin-bottom: 70px;
  }
  .article-content p {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 30px;
  }
  .article-content figure {
    height: 700px;
    margin: 150px 0 150px;
  }
  .article-content p + h2 {
    margin-top: 180px;
  }
  .info-case ul li {
    margin-right: 50px;
    margin-bottom: 30px;
  }
  .info-case ul li:last-child {
    margin-bottom: 0;
  }
  .strategy .item figure{
    height: 480px;
  }
  .strategy .item .logo-wrap img{
    width: 220px;
  }
  .business-card .logo-wrap .card-wrap{
    width: 100%;
    padding: 50px;
  }
  .business-card .logo-wrap figure{
    width: 100%;
  }
  .objective figure .line img{
    width: 150px;
  }
  .solution-2 figure{
    img{
      width: 350px;
    }
  }
  .case-head .is-sticky .tabs-menu {
    left: -200px;
  }
  .logics .bg img{
    width: 250px;
  }
  .other-pages .item{
    height: 270px;
  }
  .business-card .big-img-wrap img{
    max-width: 100%;
  }
  .form-section .wrap-link a{
    margin-right: 10px;
    width: calc(20% - 8px);
  }
  .form-section .wrap-link a .img-wrap {
    height: 160px;
  }
}
@media (max-width:1279px){
/*  .bg-img-section .hover-block{
    display: none;
  }*/
  .team .right .item{
    width: 100%;
  }
}

@media (max-width:991px) {
  .content-width{
    width: 720px;
  }
  .ux-section {
    padding: 100px 0 100px !important;
  }
  .fix-wrap > section{
    position: relative;
    z-index: 5;
  }
  .fix-wrap{
    height: fit-content;
  }
  .menu-responsive .menu-wrap .item-2{
    width: 100%;
    padding: 30px 0;
    border: none;
    order: 1;
    justify-content: flex-start;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    border-top: 1px solid rgba(255, 255, 255, 0.4);
  }
  .menu-responsive .menu-wrap .item-1{
    width: 100%;
    order: 2;
    padding: 0;
    border: none;
  }
  .menu-responsive .menu-wrap .item-3{
    padding: 0;
    width: 100%;
    order: 3;

  }
  .top-line .logo-wrap{
    width: 150px;
  }
  header .content-width-full .right{
    top: 3px;
  }
  .menu-responsive .menu-wrap{
    flex-wrap: wrap;
  }
  .menu-responsive .menu-wrap .item-2 .top-menu ul li a{
    font-size: 32px;
    line-height: 40px;
  }
  .menu-responsive .menu-wrap .item-1 h6{
    display: none;
  }
  .menu-responsive .menu-wrap .item-1 .bottom{
    display: none;
  }
  .btn-white{
    height: 46px;
    line-height: 44px;
  }
  .top-slider .swiper-pagination{
    display: none;
  }
  .top-slider h1, .top-slider h2, h1, .faq h2{
    font-size: 50px;
  }

  .about h2 {
    font-size: 40px;
    margin-bottom: 100px;
    a{
      font-size: 40px;
    }
  }
  .section h2{
    font-size: 40px;
  }
  .about h3 {
    font-size: 30px;
    margin-bottom: 80px;
    a{
      font-size: 30px;
    }
  }
  .about .content .item figure .text h5{
    font-size: 30px;
    line-height: 1.1;
  }
  .about .content .item figure{
    height: 300px;
  }
  .pre-footer h2 {
    font-size: 40px;
  }
  .pre-footer ul li a {
    border: 1px solid #FFFFFF;
    border-radius: 30px;
    font-size: 22px;
    line-height: 28px;
    padding: 0 8px;
    height: 30px;
  }
  .pre-footer ul li {
    margin: 0 5px 10px;
  }
  .pre-footer ul li img {
    height: 30px;
  }
  .footer .left{
    width: 100%;
    margin-bottom: 30px;
  }
  .footer .right{
    width: 100%;
    padding: 0;
  }
  .footer .bottom p{
    width: 100%;
  }
  .footer .right .footer-menu{
    width: 500px;
  }
  .footer .left ul{
    margin-top: 40px;
  }
  .ux-section{
    padding: 150px 0 150px;
  }
  .ux-section .text .left{
    width: 100%;
  }
  .ux-section .text .right{
    width: 100%;
  }
  .web-design .content-width{
    margin: 0 auto;
  }
  .web-design .right{
    padding-left: 0;
  }
  .web-design-2{
    min-height: fit-content;
  }
  .accordion li{
    width: 100%;
  }
  .project-slider .swiper-slide .img-wrap{
    display: none;
  }
  .project-slider .swiper-slide figure{
    transform: none!important;
  }
  .traveling .text{
    padding: 0;
  }
  .traveling h2 img{
    display: none;
  }
  .faq{
    width: calc(100% - 30px);
  }
  .summary .title{
    width: 100%;
  }
  .summary ul li{
    order: 1!important;
  }
  .summary ul li:nth-child(n + 6){
    margin-left: 0;
  }
  .wordpress figure{
    position: relative;
    width: 100%;
    margin-bottom: 40px;
    bottom: 0;
    max-width: 100%;
  }
  .wordpress .text-wrap{
    margin-left: 0;
  }
  .reviews blockquote p {
    font-size: 30px;
    line-height: 40px;
  }
  .reviews .left{
    width: 100%;
    margin-bottom: 30px;
  }
  .reviews figure{
    display: none;
  }
  .reviews .left .img-wrap{
    display:block;
    margin-bottom: 30px;
    img{
      width: 100%;
      vertical-align: top;
    }
  }
  .form-section .content .left{
    width: 100%;
    height: 100vh;
  }
  .form-section figure{
    position: relative;
    width: 100%;
    height: 400px;
  }
  .form-section{
    height: fit-content;
  }
  .summary ul li:first-child{
    margin-right: 0;
  }
  .footer{
    padding: 50px 0;
  }
  .popup-work .left{
    width: 320px;
  }
  .popup-work .right {
    width: calc(100% - 350px);
  }
  .ticket-title .content-width .left{
    width: 100%;
    margin-bottom: 50px;
  }
/*  .ticket-title h1{
    text-align: center;
  }
  .ticket-title h3{
    text-align: center;
  }*/
  .ticket-title .form-wrap{
    justify-content: center;
  }
  .ticket-title .content-width figure{
    width: 300px;
    margin: auto;
  }
  .ticket-title .content-width figure{
    animation-delay: 3s;
  }
  .traveling p{
    width: 49%;
  }
  .traveling-two{
    padding: 150px 0;
  }
  .team .left{
    position: relative!important;
    width: 100%;
    margin-bottom: 50px;
    top: 0!important;
    .btn-wrap{
      display: none;
    }
  }
  .team .right {
    width: 100%;
  }
  .team .right .item {
    width: calc(50% - 12px);
  }
  .team .right{
    .btn-wrap{
      display: block;
      margin-top: 20px;
    }
  }
  .popup-team figure{
    display: none;
  }
  .popup-team .left{
    width: 100%;
    left: 0!important;
  }
  .popup-team .left h6{
    text-align: center;
  }
  .popup-team .left p{
    text-align: center;
  }
  .popup-team .left h6{
    transition-delay: 0.1s;
  }
  .popup-team .left p{
    transition-delay: 0.6s;
  }
  .work-wrap ul li:first-child{
    margin-right: 0;
  }
  .work-wrap ul li{
    width: 100%;
  }
  .work-wrap ul li:nth-child(4){
    margin-left: 0;
  }
  .work .img-wrap-mob .line img{
    margin-left: 15px;
  }
  .form-wrap.bottom{
    display: flex;
    margin-top: 50px;
    width: 100%;
    justify-content: center;
  }
  .ticket-title .left .form-wrap{
    display: none;
  }
  .close-team-mob{
    display: block;
  }
  .cursor{
    display: none;
  }
  .close-team-mob{
    font-size: 30px;
  }
  .about-title .bg h1 {
    font-size: 150px;
  }
  .big-text h6 {
    font-size: 40px;
    line-height: 1.2;
  }
  .skill .content .item{
    width: 100%;
    padding: 30px;
  }
  .contact-title .title{
    width: 100%;
    margin-bottom: 50px;
  }
  .contact-title .form-wrap{
    width: 100%;
    padding: 0;
  }
  .contact{
    padding: 120px 0;
    figure{
      width: 100%;
      position: relative;
      margin-top: 50px;
      top: 0;
    }
  }
  .contact .content{
    padding: 0;
  }
  .article-head .content-width h1 {
    font-size: 70px;
  }
  .article-content {
    padding: 150px 0 90px;
  }
  .article-content h2 {
    font-size: 55px;
    margin-bottom: 60px;
  }
  .article-content p {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 30px;
  }
  .article-content figure {
    height: 600px;
    margin: 150px 0 150px;
  }
  .case-head .menu-wrap{
    position: relative!important;
    text-align: left;
  }
  .case-head {
    padding: 200px 0 100px;
  }
  .case-head .sub-title{
    margin-bottom: 40px;
  }
  .case-head .sub-title {
    font-size: 24px;
    line-height: 30px;
  }
  .tabs-menu{
    float: left;
  }
  .strategy .title-content{
    width: 100%;
  }
  .strategy .item figure{
    height: 360px;
  }
  .strategy .item .logo-wrap img{
    width: 150px;
  }
  .typography-colors .title{
    padding: 0;
  }
  .business-card .content{
    padding: 0;
  }
  .business-card .logo-wrap .card-wrap{
    width: 50%;
    height: 200px;
  }
  .business-card .logo-wrap figure{
    position: relative;
    width: 50%;
    left: 0;
    height: 200px;
  }
  .business-card .logo-wrap{
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;

  }
  .business-card .logo-wrap .card-wrap{
    padding: 20px;
  }
  .business-card .logo-wrap .card-wrap h6 {
    font-size: 22px;
    margin-bottom: 15px;
  }
  .business-card .logo-wrap .card-wrap p, .business-card .logo-wrap .card-wrap p a{
    font-size: 22px;
  }
  .case-head .is-sticky .tabs-menu{
    left: 0;
  }
  .objective .content{
    padding: 0;
  }
  .objective figure .line-1{
    position: relative;
    margin-bottom: 30px;
    left: 0;
  }
  .solution .content{
    width: 100%;

  }
  .solution figure{
    position: relative;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 300px;
    margin-bottom: 30px;
  }
  .solution .img-wrap{
    padding-right: 100px;
  }
  .solution-2 figure{
    position: relative;
    width: 100%;
    padding: 100px 0;
  }
  .solution-2 .content{
    padding: 0;
  }
  .logics .content-width .left{
    width: 100%;
    margin-bottom: 20px;
  }
  .logics .content-width .right{
    width: 100%;
    padding: 0;
  }
  .logics .bg .img-bg-2{
    top: 7%;
  }
  .logics .bg .img-bg-1{
    top: 88%;
  }
  .other-pages .item {
    height: 220px;
    width: 32%;
  }
  .other-pages .img-wrap .content-width .item {
    margin-right: 30px;
  }
  .business-card-white{
    padding: 120px 0;
  }
  .business-card .big-img-wrap {
    margin: 120px 0 120px 0;
    width: 100%;
  }
  .next-case .content{
    height: 700px;
  }
  .passion figure .video-wrap {
    height: 400px;
  }
  .form-step .item{
    height: inherit;
  }
  .form-section .content{
    width: 100%;
    padding:20px 0;

  }
  .form-section .content-width{
    min-height: 450px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .form-section h4, .form-section h3{
    max-width: 100%;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 30px;
  }
  .form-section-black .form-step .input-wrap-rocket img{
    width:35px;
  }
  .form-step .input-wrap-rocket{
    width: 35px;
  }
  .form-section .wrap-link a{
    padding: 5px 5px 10px;
  }
  .form-section .wrap-link a .img-wrap {
    height: 125px;
  }
  .form-section .wrap-link a .text-wrap{
    font-size: 13px;
    line-height: 16px;
  }
}

@media (max-width:767px) {
  .content-width{
    width: 540px;
  }
  .summary ul li p, .work-wrap ul li p{
    display: none;
  }
  .summary ul li h6{
    margin-bottom: 10px;
  }
  .summary ul li{
    margin-bottom: 30px;
  }
  .summary ul li .link-wrap, .work ul li .link-wrap{
    display: block;
  }
  .work-wrap ul li h6{
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 10px;
  }
  .popup-work .right{
    width: 100%;
  }
  .popup-work .left{
    width: 100%;
  }
  .top-line .logo-wrap{
    width: 110px;
  }
  .video{
    display: none;
  }
  .video-mob{
    display: block;
  }
  .anim-section .inner-wrap{
    bottom: -50px!important;
  }
  .anim-section .inner-wrap .subheader{
    font-size: 14px;
    line-height: 30px;
  }
  .accordion-thumb:after{
    right: 0;
  }
  .accordion-thumb{
    padding-right: 40px;
  }
  .project .title .btn-wrap{
    display: none;
  }
  .project .slider-wrap{
    display: none;
  }
  .project .bottom{
    display: block;

  }
  .project .mob-block{
    display: block;
    .item{
      height: 460px;
      width: 100%;
      margin-bottom: 30px;
      .video-wrap{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        video{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
  .popup-work .right{
    margin-top: 60px;
  }
  .popup-work .right .item-wrap .item .bg-item{
    display: none;
  }
  .popup-work .right .item-wrap .item{
    padding: 0;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    border-radius: 0;
    flex-direction: row!important;
    h4{
      width: calc(100% - 140px);
      margin: 0;
      font-size: 25px;
      line-height: 30px;
    }
  }
  .popup-work .right .item-wrap .item .btn-wrap{
    width: 120px;
    a{
      width: 100%;
      padding: 0 5px;
      text-align: center;
    }
  }
  .popup-work .right .item-wrap{
    width: 100%;
    margin: 0;
  }
  .popup-default .fancybox-close-small:before {
    position: absolute;
    top: 25px;
    right: 50px;
    content: '';
    cursor: pointer;
    width: 30px;
    height: 30px;
    background: url(../img/icon-5.svg)no-repeat center;
    background-size: contain;
  }
  .form-default .input-wrap-submit .btn-default{
    min-width: 220px;
  }
  .tel-form{
    width: 100%;
    margin-bottom: 25px;
  }
  .traveling p{
    width: 100%;
    margin-bottom: 40px;
  }
  .traveling-two .label {
    width: 100%;
    font-size: 25px;
    line-height: 30px;
  }
  .team{
    padding: 100px 0;
  }
  .team .right .item figure {
    height: 300px;
  }
  .about-title .bg h1 {
    font-size: 100px;
  }
  .about-title .bg h6 {
    font-size: 50px;
  }
  .about-title .empty{
    height: 400px;
  }
  .big-text h6{
    font-size: 38px;
    line-height: 46px;
  }
  .skill .content .empty {
    height: 460px;
  }
  .slider-team .swiper-slide .item figure {
    height: 290px;
  }
  .slider-team .swiper-slide .item, .slider-team .swiper-slide{
    width: 290px;
  }
  .slider-team .swiper-slide .item h6{
    font-size: 25px;
    line-height: 30px;
  }
  .slider-team .swiper-slide .item p{
    font-size: 13px;
    line-height: 16px;
  }
  .crew h2{
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 30px;
  }
  .passion h2{
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 30px;
  }
  .crew .content{
    padding: 0;
  }
  .passion .title{
    padding: 0;
  }
  .passion{
    padding: 60px 0;
  }
  .traveling {
    padding: 120px 0 120px !important;
  }
  .about .title{
    min-height: 0;
  }
  .contact-title h1{
    font-size: 50px!important;
    line-height: 60px!important;
  }
  .contact-title {
    padding: 120px 0;
  }
  .form-up-label .input-wrap input, .form-up-label .input-wrap label{
    font-size: 15px;
  }
  .form-up-label .input-wrap input{
    border-width: 1px;
    line-height: 40px;
  }
  .form-up-label .input-wrap label{
    top: 10px;
  }
  .contact-title .title{
    margin-bottom: 109px;
  }
  .form-up-label .input-wrap label.is-focus, .form-up-label .input-wrap label.is-active, .form-up-label .input-wrap label.is-date{
    top: -5px;
  }
  .form-up-label .input-wrap-text label.is-focus, .form-up-label .input-wrap-text label.is-active, .form-up-label .input-wrap-text label.is-date{
    top: -15px;
  }
  .form-up-label .input-wrap {
    margin-bottom: 38px;
  }
  .form-up-label .input-wrap-text textarea{
    height: 90px;
    border-width: 1px;
    font-size: 15px;
  }
  .form-up-label .input-wrap-text label {
    top: calc(100% - 38px);
  }
  .form-up-label .input-wrap-submit {
    text-align: left;
  }
  .form-up-label .input-wrap-submit{
    margin-top: 58px;
  }
  .contact h2{
    font-size: 50px!important;
    line-height: 60px!important;
    margin-bottom: 57px;
  }
  .contact {
    padding: 65px 0 120px;
  }
  .contact ul {
    margin-top: 90px;
  }
  .contact figure{
    margin-top: 90px;
  }
  .crew .next-slide{
    display: none;
  }
  .blog h1{
    text-align: center;
  }
  .tabs-menu-blog{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
    li{
      margin-bottom: 10px;
    }
  }
  .blog{
    .sort-right{
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
  .strategy .item figure {
    height: 270px;
  }
  .strategy .item .logo-wrap img {
    width: 100px;
  }
  .typography-colors .text-img-wrap .text-italianno h6 {
    font-size: 100px;
  }
  .typography-colors .text-img-wrap .text-cormorant h6 {
    font-size: 60px;
  }
  .typography-colors .text-img-wrap .text-inter h6 {
    font-size: 30px;
    line-height: 0.8;
  }
  .typography-colors .text-img-wrap .text{
    height: 70px;
    padding: 10px 0;
  }
  .typography-colors .text-img-wrap .item .color{
    height: 70px;
    padding: 10px;
  }
  .typography-colors .text-img-wrap .item-color-1 .color{
    width: 200px;
  }
  .typography-colors .text-img-wrap .item-color-3 .color{
    width: 100px;
  }
  .typography-colors .text-img-wrap .text-wrap{
    order: 1;

  }
  .typography-colors .text-img-wrap .color-wrap{
    order: 0;
    margin-bottom: 20px;
  }
  .typography-colors .text-img-wrap .text-cormorant{
    margin-left: 30px;
  }
  .typography-colors{
    padding: 120px 0 120px;
  }
  .business-card{
    padding: 120px 0;
  }
  .business-card .logo-wrap figure{
    width: 55%;
    margin-right: -5%;
  }
  .business-card .logo-wrap .card-wrap{
    width: 55%;
    margin-left: -5%;
  }
  .solution .img-wrap{
    padding: 0;
  }
  .solution-2 .img-wrap{
    padding: 50px 0;
  }
  .other-pages .img-wrap .content-width{
    display: none;
  }
  .other-pages .item{
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
  }
  .passion figure .video-wrap {
    height: 300px;
  }
  .form-section .wrap-link a {
    width: calc(33% - 6px);
    margin-bottom: 10px;
  }
  .form-section .wrap-link a:nth-child(3n) {
    margin-right: 0;
  }
  .form-section .wrap-link a .text-wrap {
    margin-top: 10px;
  }
}

@media (max-width:575px) {

  .content-width{
    width: 100%;
    padding: 0 10px;
  }
  header .content-width-full{
    padding: 0 10px;
  }
  header .lang-wrap ul li{
    width: 40px;
  }
  header .lang-wrap ul:after{
    left: 40px;
    height: 24px;
  }
  header .open-menu{
    width: 22px;
    margin-left: 40px;
  }
  .top-line {
    padding: 11px 0;
  }
  header .content-width-full .right{
    width: calc(100% - 120px);
    top: 3px;
  }
  header .open-menu a span{
    height: 2px;
  }
  header .open-menu a span + span {
    margin-top: 5px;
  }
  header .lang-wrap ul li a{
    height: 24px;
    line-height: 24px;
  }
  header .lang-wrap ul{
    position: relative;
    top: -2px;
  }
  .top-slider .swiper-slide .content-width{
    padding: 50px 10px 30px;
  }
  .top-slider .swiper-slide p{
    font-size: 15px;
    line-height: 18px;
  }
  .top-slider h1, .top-slider h2, h1, .faq h2{
    font-size: 65px;
    line-height: 65px;
  }

  .section h2{
    font-size: 50px;
    line-height: 60px;
  }
  .about{
    padding: 120px 0 120px;
    .content-width{
      padding: 0;
    }
  }
  .about .content .item{
    width: 100%;
  }
  .about .content .item figure {
    height: 460px;
  }
  .about .content .item figure .text h5{
    font-size: 38px;
    line-height: 46px;
  }
  .about .content .item .text-wrap ul li:last-child{
    margin-right: 0;
  }
  .about .content .item .text-wrap ul li {
    margin: 0 7px 10px 0;
  }
  .about .content .item .text-wrap{
    padding-top: 15px;
  }
  .about .content .item .text-wrap ul{
    justify-content: center;
  }
  .about .btn-wrap{
    margin-top: 15px;
  }
  .pre-footer{
    padding: 58px 0 109px;
  }
  .pre-footer h2{
    font-size: 50px;
    line-height: 60px;
  }
  .pre-footer ul {
    margin-top: 63px;
  }
  .pre-footer ul li a{
    font-size: 18px;
  }
  .footer {
    padding: 32px 0 40px;
  }
  .footer .left ul{
    display: none;
  }
  .footer .right .footer-menu{
    width: 100%;
  }
  .footer .right .footer-menu ul li{
    width: 50%;
    margin-bottom: 7px;
    a{
      font-size: 20px;
      line-height: 24px;
    }
  }
  .footer .right .soc-wrap{
    display: block;
    margin-top: -30px;
    ul{
      flex-wrap: wrap;
      li{
        width: 100%;
        margin-bottom: 7px;
        a{
          font-size: 13px;
          line-height: 16px;
        }
      }
    }
  }
  .footer .left{
    margin-bottom: 30px;
  }
  .footer .bottom ul li{
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 5px;
    a{
      font-size: 13px;
      line-height: 16px;
    }
  }
  .footer .bottom {
    margin-top: 35px;
  }
  .footer .bottom p{
    font-size: 11px;
    line-height: 13px;
  }
  .footer .bottom ul{
    margin-bottom: 43px;
  }
   .fix .top-site{
    width: 24px;
    height: 24px;
    font-size: 12px;
  }
   .fix{
    right: 10px;
  }
  header .open-menu.is-active a span:first-child{
    top: 7px;
  }
  header .open-menu.is-active a span:nth-child(3){
    top: -7px;
  }
  .menu-responsive .menu-wrap{
    padding: 55px 10px 20px;
  }
  .ux-section .text .full > a span{
    font-size: 13px;
    line-height: 15px;
    text-decoration: underline;
    display: inline;
    &:after{
      display: none;
    }
  }
  #page-header-bg .nectar-particles .span_6 .inner-wrap, #page-header-bg .span_6 {
    transform: translateY(-20%);
  }
  .anim-section .inner-wrap{
    padding: 0 10px;
  }
  .anim-section .inner-wrap h1{
    font-size: 50px;
    line-height: 1.2;
  }
  .anim-section .btn-wrap{
    margin-top: 30px;
  }
  .footer .right .soc-wrap ul{
    margin-top: 50px;
  }
  .footer .left h3 {
    font-size: 30px;
  }
  .web-design .content-width{
    padding: 0 10px;
  }
  .web-design h1{
    font-size: 50px;
    line-height: 60px;
  }
  .web-design .right h3 {
    font-size: 25px;
    line-height: 30px;
  }
  .accordion-thumb p, .accordion li:before {
    font-size: 15px;
    line-height: 18px;
  }
  .bg-design{
    img{
      display: none;
    }
    .mob{
      display: block;
      width: 100%;
      height: 200%;
    }
  }
  .project .bottom{
    margin-top: 30px;
  }
  .summary .title h5{
    font-size: 25px;
    line-height: 30px;
  }
  .summary ul li h6, .popup-work .left h4, .form-section h4, .form-section h3{
    font-size: 25px;
    line-height: 30px;
  }
  .summary ul li h6:before{
    left: -30px;
  }
  .popup-default .fancybox-close-small:before{
    right: 15px;
  }
  .popup-default {
    padding: 75px 20px 20px;
  }
  .wordpress figure{
    margin-bottom: 60px;
  }
  .reviews blockquote:before{
    width: 23px;
  }
  .reviews h2{
    margin-bottom: 30px;
  }
  .reviews blockquote{
    padding-top: 60px;
  }
  .reviews blockquote p {
    font-size: 25px;
    line-height: 30px;
  }
  .project-black h1{
    padding: 0 10px;
    text-align: center;
  }
  .project-black h1, .ticket-title h1{
    font-size: 50px;
    line-height: 60px;
  }
  .ticket-title{
    padding: 95px 0 65px;
  }
  .tel-form input, .tel-form button{
    height: 50px;
    line-height: 50px;
  }
  .tel-form button{
    width: 135px;
    padding: 0 10px;
  }
  .tel-form input {
    width: calc(100% - 140px);
  }
  .ticket-title h1{
    margin-bottom: 15px;
  }
  .ticket-title h3{
    font-size: 38px;
    line-height: 46px;
    margin-bottom: 50px;
  }
  .traveling-two{
    padding: 120px 0 120px;
  }
  .team .right .item{
    width: 100%;
  }
  .team .right .item h6 {
    font-size: 25px;
    line-height: 30px;
  }

  .team .right .item p{
    font-size: 13px;
    line-height: 16px;
    margin: 0;
  }
  .team .right .item{
    margin-bottom: 40px;
  }
  .team {
    padding: 60px 0;
  }
  .team p{
    margin: 0;
  }
  .team .left{
    margin-bottom: 40px;
  }
  .work-wrap .content-width{
    padding-left: 10px;
  }
  .work-wrap p.label{
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 5px;
  }
  .work-1{
    padding: 60px 0 60px;
  }
  .work .img-wrap-mob{
    padding-top: 60px;
  }
  .work-2{
    padding-bottom: 120px;
  }
  .about-title .bg h1{
    font-size: 70px;
  }
  .about-title .bg h6{
    font-size: 38px;
    line-height: 46px;
  }
  .about-title .bg {
    padding: 90px 20px 50px;
  }
  .about-title .empty {
    height: 300px;
  }
  .about-title .content-width{
    padding: 0;
  }
  .big-text{
    padding: 100px 0;
  }
  .skill{
    background-position: center 200px ;
  }
  .skill .content .item{
    padding: 15px;
    margin-bottom: 30px;
  }
  .skill .content .item h5{
    font-size: 38px;
    line-height: 46px;
    margin-bottom: 15px;
  }
  .skill .content .item p{
    margin-bottom: 30px;
  }
  .skill .content .item .btn-wrap{
    margin-bottom: 30px;
  }
  .crew{
    padding: 60px 0;
  }
  .crew p{
    margin-bottom: 40px;
  }
  .passion p{
    margin-bottom: 40px;
  }

  .about h2, .about h3{
    font-size: 38px;
    line-height: 46px;
    a{
      font-size: 38px;
      line-height: 46px;
    }
  }
  .anim-section .inner-wrap {
    bottom: 50px !important;
  }
  .blog h1{
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 35px;
  }
  .blog {
    padding-top: 125px;
  }
  .tabs-menu-blog{
    margin-bottom: 45px;
  }
  .blog .sort-blog{
    margin-bottom: 20px;
  }
  .blog-item{
    width: 100%;
    figure{
      width: calc(100%  + 20px);
      margin-left: -10px;
      margin-bottom: 15px;
    }
  }
  .blog-item .tag-wrap {
    margin-bottom: 28px;
  }
  .blog{
    padding-bottom: 30px;
  }
  .article-head .content-width h1{
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 20px;
    br{
      display: none;
    }
  }
  .article-head .content-width .tag-wrap{
    margin-bottom: 15px;
  }
  .article-head .content-width{
    padding-top: 80px;
  }
  .article-content h2{
    font-size: 38px;
    line-height: 46px;
  }
  .article-content {
    padding: 120px 0 90px;
  }
  .article-content p{
    font-size: 25px;
    line-height: 30px;
  }
  .article-content p + h2 {
    margin-top: 120px;
  }
  .article-content figure {
    height: 350px;
    margin: 120px 0 120px;
  }
  .blog-more h2{
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 60px;
  }
  .big-text{
    padding-bottom: 30px;
  }

  .skill{
    background: #F9F0EB ;
  }
  .skill {
    position: relative;

    .bg-mob {
      display: flex;
      position: fixed!important;
      top: 200px!important;
      left: 0;
      right: 0;
      margin: auto;
      width: 95%!important;
    }
  }
  .skill .content .empty{
    width: 100%;
  }
  .skill .content .item{
    position: relative;
    z-index: 2;
  }
  .about-title, .big-text{
    z-index: 10;
  }
  .about-title.is-hide {
    z-index: 1;
  }
  .case-head h1{
    font-size: 50px;
    line-height: 60px;
  }
  .case-head {
    padding: 125px 0 30px;
  }
  .case-head .sub-title{
    font-size: 25px;
    margin-bottom: 60px;
  }
  .case-head .sub-title:before{
    width: 40px;
    margin-right: 20px;
  }
  .tabs-menu li {
    line-height: 34px;
    font-size: 10px;
    padding: 0 20px;
  }
  .tabs-menu{
    padding: 2px;
  }
  .full-img{
    height: 215px;
  }
  .info-case ul li h6{
    font-size: 25px;
    line-height: 30px;
    width: 85px;
  }
  .info-case ul li .wrap p{
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 12px;
  }
  .info-case .wrap{
    padding: 60px 0;
  }
  .info-case ul li .wrap{
    padding-top: 10px;
  }
  .info-case ul li{
    margin-bottom: 15px;
  }
  h2{
    font-size: 50px;
    line-height: 60px;
  }
  .strategy{
    padding: 55px 0 55px;
  }
  .strategy h2{
    margin-bottom: 25px;
  }
  .strategy .title-content .text-wrap p{
    width: 100%;
    margin-bottom: 29px;
  }
  .strategy .title{
    margin-bottom: 30px;
  }
  .strategy .item figure{
    height: 50vw;
  }
  .strategy .item .logo-wrap img {
    width: 70px;
    margin-bottom: 10px;
  }
  .strategy .item .logo-wrap{
    padding-top: 10px;
  }
  .strategy .item .logo-wrap p{
    font-size: 10px;
  }
  .strategy .content{
    width: calc(100% + 20px);
    max-width: calc(100% + 20px);
    margin-left: -10px;
  }
  .typography-colors h2{
    margin-bottom: 30px;
  }
  .typography-colors .title p{
    width: 100%;
    margin-bottom: 30px;
  }
  .typography-colors .title{
    margin-bottom: 30px;
  }
  .typography-colors .text-img-wrap .item-color-1 .color{
    width: 100%;
    border-radius: 20px 0 0 20px;
  }
  .typography-colors .text-img-wrap .item-color-1{
    width: 100%;
  }
  .typography-colors .text-img-wrap{
    padding-left: 10px;
  }
  .typography-colors .text-img-wrap .item .color-white p{
    font-size: 12px;
    line-height: 15px;
  }
  .typography-colors .text-img-wrap .item .color{
    padding: 15px;
  }
  .typography-colors .text-img-wrap .item{
    margin-bottom: 5px;
  }
  .typography-colors .text-img-wrap .item-color-2 .color{
    width: 118px;
  }
  .typography-colors .text-img-wrap .item-color-3 .color{
    width: 172px;
    margin-right: 10px;
  }
  .typography-colors .text-img-wrap .item-color-2{
    margin-left: 0;
  }
  .typography-colors .text-img-wrap .item-color-4{
    width: 100%;
    margin-left: 0;
    &>div{
      width: 100%;
    }
  }
  .typography-colors .text-img-wrap .text-italianno h6 {
    font-size: 80px;
    line-height: 0.5;
  }
  .typography-colors .text-img-wrap .text-italianno p{
    font-size: 14px;
  }
  .typography-colors .text-img-wrap .text-cormorant h6{
    font-size: 40px;
  }
  .typography-colors .text-img-wrap .text-cormorant p{
    font-size: 7px;
  }
  .typography-colors .text-img-wrap .text-inter h6{
    font-size: 20px;
  }
  .typography-colors .text-img-wrap .text-inter p{
    font-size: 5px;
  }
  .typography-colors .text-img-wrap .text-wrap{
    flex-wrap: nowrap;
  }
  .typography-colors .text-img-wrap .text-inter {
    margin-left: 5px;
  }
  .typography-colors .text-img-wrap .text-cormorant {
    margin-left: -5px;
  }
  .typography-colors .text-img-wrap .text-wrap .item:first-child{
    position: relative;
    top: 4px;
  }
  .typography-colors .text-img-wrap .color-wrap{
    margin-bottom: 30px;
  }
  .typography-colors{
    padding-bottom: 50px;
  }
  .img-bg-fix{
    height: 215px;
  }
  .img-bg-fix-1{
    background: url('../img/bg-7-1.jpg')no-repeat center;
    background-size: cover;
  }
  .business-card {
    padding: 60px 0;
  }
  .business-card h2{
    margin-bottom: 30px;
  }
  .business-card .text-wrap p{
    width: 100%;
    margin-bottom: 30px;
    padding: 0;
  }
  .business-card .logo-wrap .card-wrap {
    width: 53%;
    margin-left: -3%;
    height: 88px;
  }
  .business-card .logo-wrap .card-wrap h6{
    font-size: 8px;
    line-height: 145%;
    margin-bottom: 10px;
  }
  .business-card .text-wrap{
    margin-bottom: 30px;
  }
  .business-card .logo-wrap .card-wrap p, .business-card .logo-wrap .card-wrap p a{
    font-size: 8px;
    line-height: 120%;
  }
  .business-card .logo-wrap .card-wrap p a{
    margin-bottom: 1px;
  }
  .business-card .logo-wrap figure {
    width: 53%;
    margin-right: -3%;
    height: 88px;
    top: 8px;
    img{
      width: 30px;
    }
  }
  .business-card .logo-wrap{
    margin-bottom: 126px;
  }
  .form-section .content .left{
    padding: 0;
  }
  .form-section .content .left{
    max-height: 430px;
  }
  .form-section .content .left .item{
    max-height: 100%;
    min-height: 430px;
  }
  .form-section h4, .form-section h3{
    margin-bottom: 35px;
  }
  .form-step .input-wrap-rocket img{
    width: 40px;
  }
  .form-step .input-wrap-rocket{
    margin-right: 6px;
  }
  .next-case .content{
    height: 460px;
  }
  .next-case .text h2{
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 15px;
  }
  .next-case .text p{
    margin-bottom: 15px;
  }
  .next-case .bottom{
    bottom: 20px;
  }
  .objective{
    padding: 60px 0;
  }
  .objective h2{
    margin-bottom: 30px;
  }
  .objective .text-wrap p{
    width: 100%;
    margin-bottom: 30px;
  }
  .objective .text-wrap{
    margin-bottom: 27px;
  }
  .objective figure .line img {
    width: 172px;
  }
  .objective figure .line-1{
    margin-bottom: 60px;
  }
  .objective figure .line{
    overflow-y: scroll;
  }
  .objective figure{
    width: calc(100% + 10px);
    max-width: calc(100% + 10px);
  }
  .solution{
    padding: 60px 0 0;
    figure{
      display: none;
    }
  }
  .solution h2 {
    margin-bottom: 30px;
  }
  .solution .img-wrap-mob{
    width: calc(100% + 20px);
    max-width: calc(100% + 20px);
    display: block;
    margin-left: -10px;
    height: 480px;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .solution p {
    margin-bottom: 63px;
  }
  .solution .img-wrap img{
    width: 145px;
  }
  .solution .img-wrap {
    padding: 60px 0;
  }
  .solution .img-wrap img:last-child{
    padding-bottom: 0;
    position: relative;
    top: 72px;
  }
  .solution .img-wrap{
    margin-bottom: 0;
  }
  .solution-2 figure img{
    width: 167px;
  }
  .solution-2 figure{
    padding: 75px 0;
  }
  .solution-2 .img-wrap {
    padding: 60px 0;
  }
  .solution-2 .img-wrap img{
    width: 145px;
  }
  .solution-2 .img-wrap img:last-child {
    top: 73px;
  }
  .logics{
    padding: 120px 0;
    .bg{
      display: none;
    }
  }
  .logics h2{
    margin-bottom: 30px;
  }
  .logics{
    overflow: hidden;
    .img-mob{
      display: inline-block;
    }
    .left{
      .img-mob{
        margin: 1px 0 34px;
        width: 100%;
        &:after {
          content: "";
          display: table;
          clear: both;}
        img{
          vertical-align: top;
          position: relative;
          left: 10px;
          width: 245px;
          float: right;
        }
      }
    }
    .right{
      .img-mob{
        margin: 60px 0 -5px;
        width: 100%;
        &:after {
          content: "";
          display: table;
          clear: both;}
        img{
          vertical-align: top;
          position: relative;
          left: -90px;
          width: 245px;
          float: left;
        }
      }
    }
  }
  .logics .content-width .right figure .img{
    width: 178px;
  }
  .logics .content-width .right figure .img-2 {
    margin: 66px 0 0 -61px;
  }
  .other-pages{
    padding: 60px 0;
  }
  .other-pages h2{
    margin-bottom: 30px;
  }
  .other-pages p{
    margin-bottom: 60px;
  }
  .other-pages .item{
    height: 220px;
    padding: 0 10px;
    margin-bottom: 25px;
  }
  .business-card-white{
    padding: 120px 0 60px;
  }
  .business-card .big-img-wrap {
    margin: 65px 0 120px 0;
  }
  .passion figure .video-wrap {
    height: 170px;
  }
  .form-section .wrap-link{
    justify-content: space-between;
  }
  .form-section .wrap-link a{
    width: 49%;
    margin-right: 0;
  }
  .form-section .wrap-link a .img-wrap {
    height: 100px;
  }
  .form-step .input-wrap-text{
    width: 100%;
  }
  .form-step .wrap-file .file label{
    width: 100%;
  }
  .form-step .wrap-file .example{
    margin-top: 15px;
  }
}